<div class="col-md-4">
  <%= label_tag :amenties ,'Amenties',class:"col-md-12 zero-left-right-padd"%>
  <%= f.check_box :restaurant %> Restaurant
  <%= f.check_box :caddies%> Caddies
  <%= f.check_box :carts%> Carts

</div>