<div class="col-md-12">
  <%= label_tag :amenties ,'Amenties',class:"col-md-12 zero-left-right-padd"%>
  <div class="col-md-12">
      <div class="inline"><%= a.check_box :restaurants %> Restaurant</div>
      <div class="inline"><%= a.check_box :caddies%> Caddies</div>
      <div class="inline"><%= a.check_box :carts%> Carts</div>
  </div>
</div>