<div><%= hole.text_field :par, class:"col-md-12", placeholder: "Par" %></div>
<div><%= hole.text_field :yards, class:"col-md-12", placeholder: "Yards" %></div>
<div><%= hole.text_field :mhcp, class:"col-md-12", placeholder: "Men HCP" %></div>
<div><%= hole.text_field :whcp, class:"col-md-12", placeholder: "Women HCP"%></div>