<div class="row" style="margin-top:10px;">
	<% hole.hole_image.each do | holeimage | %>
		<div class="col-md-3">
		    <div class="thumbnail">
		      <a href="<%= holeimage.image.url %>">
		        <%=image_tag holeimage.image.url(:thumb) %>
		      </a>
		    </div>
		    <%= link_to 'Destroy', admin_remove_hole_image_path(holeimage), method: :delete, data: { confirm: 'Are you sure?' } %>
	  	</div>
	<% end%>
</div>