<%= s.text_field :tee_name, class:"col-md-3 tee-name-field", placeholder: "Tee Name" , id:'tee-name-field' %>
<%= s.select(:color, [], options = {prompt: 'Color'}, {class:'dropdown-less-padd ' ,style: 'margin-left:10px;'}) %>
<button type="button" class="btn btn-info btn-add" id='add-score-card' >+</button>