<div class="modal fade" id="modal_scorecard" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
        <%=image_tag @course.score_card_image.url, class: "modal_scorecard_image" %>
    </div>
    
  </div>
</div>
  