<%#if params["action"] == "course_home"%>
	<!-- <li><span><b><%#=@course.total_par%></b></span><p>PAR</p></li>
	<li><span><b><%#=@course.length%></b></span><p>YARDS</p></li>
	<li><span><b><%#=@course.rating%></b></span><p>RATING</p></li>
	<li class="slop-right-border"><span><b><%#=@course.slope%></b></span><p>SLOPE</p></li> -->
<%#else%>
	<!-- <li><span><b><%#=@total_par%></b></span><p>PAR</p></li>
	<li><span><b><%#=@total_yards%></b></span><p>YARDS</p></li>
	<li><span><b><%#=@tee_rating%></b></span><p>RATING</p></li>
	<li class="slop-right-border"><span><b><%#=@tee_slope%></b></span><p>SLOPE</p></li> -->
<%#end%>
<%if score_card%>
  <li><span><b><%=score_card.total_par %></b></span><p>PAR</p></li>
  <li><span><b><%=score_card.total_yards %></b></span><p>YARDS</p></li>
  <li><span><b><%=score_card.rating %></b></span><p>RATING</p></li>
  <li class="slop-right-border"><span><b><%=score_card.slope %></b></span><p>SLOPE</p></li>
<%end%>