<div class="fore-test-iframe">
  <iframe src="http://ec2-34-209-118-108.us-west-2.compute.amazonaws.com/embed/33" width="100%"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="height:100vh; border: none;" id="fore_videos_iframe" onload="resizeIframe(this)"> </iframe>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://d1s5na5d5z3eyp.cloudfront.net/assets/iframeResizer.min.js"></script>
<script type="text/javascript">iFrameResize({log: true, enablePublicMethods: true });</script>
<script type="text/javascript">
  $(window).bind("pageshow", function(event) {
    if (event.originalEvent.persisted) {
      window.location.reload();
    }
    var iframe = $(document).find('div.fore-test-iframe iframe');
    iframe.src = iframe.attr('src');
  });
  if ($('.player-container .vplayer').children('video').length > 0){
    window.location.reload();
  }
</script>
