#course-page-content-wrapper{
    margin-top: 5%;

}

.zero-left-right-padd{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.hole,.course-info-row{
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-padd{
   padding: 10px 40px;
}
.dropdown-less-padd{
   padding: 2px 30px;

}
.state-drop-dwn{
    margin-top: 20px;
}

.upload-btn{
    background-color: #16A476 !important;
}

.whole-num{
    color: #16A476;
}