.pt-20{padding-top: 20px;}
.pb-20{padding-bottom: 20px;}
#course-page-content-wrapper{
  margin-top: 5%;
}

.zero-left-right-padd{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.hole,.course-info-row{
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown-padd{
  padding: 6px 40px;
}
.dropdown-less-padd{
   padding: 2px 30px;
   /*color:red;*/

}
.state-drop-dwn{
    margin-top: 23px !important;
}

.upload-btn{
    background-color: #16A476 !important;
}

.upload-btn.check-field{height: 60px;}

.whole-num{
    color: #16A476;
}
.btn-add{
    font-size: 24px !important;
    color: #16A476 !important;
    background-color: white !important;
    border-color: #16A476 !important;
    padding: 0px 15px !important;
    margin: 0px 5px;
}
.hole-field, .contact-info{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inline{
    display: inline !important;
}
.dynamic-fields *{
    margin-bottom: 10px !important;
}
/*.modal-footer{
    border-top: none !important;
}*/
.navbar-default{
    margin-bottom: 0px !important;
}

.panel{
    margin: 20px;
    padding:20px;
}
table th{
    color: #16A476;
}
.container{
    margin-top: 10%;
}
.course-logo-image{
    width: 50px;
    float: right;
    margin-top: -54px;
    margin-left: 230px;
    position: absolute;
}
.course-transparent-logo-image{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -59px;
    left: 2px;
    position: relative;
    z-index: 1
}
.close-cross{
    text-align: center;
    width: 20px;
    position: absolute;
    top: 22px;
    color: red;
    left: 283px;
    z-index: 100;
    cursor: pointer;
    background: #eee;
    border-radius: 50%;
    border: 1px solid #666;
    height: 20px;
}
.trans-cross{
    text-align: center;
    width: 20px;
    position: absolute;
    top: 23px;
    color: red;
    left: 284px;
    z-index: 100;
    cursor: pointer;
    background: #eee;
    border-radius: 50%;
    border: 1px solid #666;
    height: 20px;
}
.course-photo-images, .course-scorecard-image{
    width: 50px;
    height: 50px;
    margin-top: 9px;
    position: relative;
    left: -9px;
    z-index: 1;
}
.close-photos, .close-scorecard{
    position: relative;
    text-align: center;
    top: -21px;
    left: 47px;
    color: red;
    z-index: 100;
    background: #eee;
    border-radius: 50%;
    border: 1px solid #666;
    cursor: pointer;
    width: 20px;
    display: inline-block;
}
.photo-division, .scorecard-division{
    display: inline-block;
}
.course-create-image{
    width: 50px;
    float: right;
    margin-top: -64px;
    margin-left: 84px;
    position: absolute;
}
.photos-collection , .scorecard-collection, .score-collection{
    max-width: 300px;
    overflow-x: auto;
    padding-top: 8px;
    padding-bottom: 6px;
}
.upload-btn .check-field{
    height: 60px;
}
.photos-collection .uploaded-photo-image, .score-collection .uploaded-photo-image {
    margin:0px;
    padding: 0px;
    position: relative;
}
.photos-collection .image-division, .score-collection .image-division {
    width: 62px;
    position: relative;
    height: 60px;
    margin: 0;
    left: 0;
    right: 0;
    float: left;
}
.photos-collection span.close-cross, .score-collection span.close-cross {
    left: initial;
    right: -8px;
    top: -8px;
}
.temp-photos-collection .upload-division .close-cross, .temp-score-collection .upload-division .close-cross{
    left: initial;
    right: 1px;
    top: -9px;

}
.temp-photos-collection .upload-division, .temp-score-collection .upload-division{
    width: 62px;
    position: relative;
    height: 60px;
    margin: 0;
    left: 0;
    right: 0;
    float: left;
}
.edit-temp-uploaded-photos{
    margin:0px;
    padding: 0px;
    position: relative;
    width: 50px;
}
#course-page-content-wrapper h4{
    color: gray;
}
.green-separator{
    min-height: 1px;
    background: #40a475;
}
.mar-top-50{
    margin-top: 50px;
}
table th{
    color: #80838a;
}
table.borderless{
  border: none;
  margin-top: 15px;
}
.borderless > thead > tr > th{
  border: none !important;
}
.scorecard_table input{
  padding: 2px !important;
}
body{
  overflow-x: hidden
}
.table.holes_list{
  overflow-x: auto;
  display: inline-block;
}
.holes_list th{
  color: #16A476;
}
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.course_list_item img{
  width: 100%;
  max-height: 350px;
}
.course_list_item .play_button{
  width: 10% !important;
  position: absolute;
  top: 25%;
  left: 45%;
}
.course_list_item{
  margin-top: 10px;
}
.select_course_heading h2{
  text-align: center;
  font-family: Bank Gothic Medium;
}
.select_course_footer img{
  max-height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}
