@font-face {
  font-family: 'Raker-Bold';
  src: asset-url('Raker-Bold.eot');
  src: asset-url('Raker-Bold.eot?#iefix') format('embedded-opentype'),
       asset-url('Raker-Bold.woff2') format('woff2'),
       asset-url('Raker-Bold.woff') format('woff'),
       asset-url('Raker-Bold.ttf') format('truetype'),
       asset-url('Raker-Bold.svg#Raker-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: asset-url('Avenir.ttf');
}
@font-face {
  font-family: 'RakerDisHvy';
  src: asset-url('RakerDisHvy.otf');
}

h4.hole_description{
  padding-bottom: 30px;
}

html,body
{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden !important;
  background-color: transparent !important;
}
.hole-number:hover{
  background-color: #1d1e20;
}
.signature {
  width: 100%;
  background: transparent !important;
}
.signature img {
  width: 100%;
}
.main-container {
  height: auto !important;
  overflow: auto !important;
  overflow-x: hidden !important;
  max-width: 100% !important;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;

}
.player-container {
  display: block !important;
  position: relative !important;
}
#modal_scorecard{
  z-index: 99999;
}
.hole-info-div {
  display: block !important;
  position: relative !important;
  z-index: 4;
  background: white;
}
.hider {
  display: none;
}
a:hover {
  text-decoration: none;
  background: none;
}
::-webkit-scrollbar {
  display: none;
}
.player-container{
  position: absolute;
}
.video-js .vjs-tech{
  object-fit: cover;
}
.upper-gradient{
  width: 100%;
  padding-top: 4%;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 999;
  height: 100px;
  /*top: 0px !important*/
}
.lower-gradient{
  width: 100%;
  bottom: 60px;
  padding-top: 4%;
  background: linear-gradient(rgba(64,64,64,0), rgba(0,0,0,0.15));
  position: absolute;
  z-index: 0;
  height: 100px;
}
.vplayer{
  z-index: -1;
}
.hole-bar{
  right: 30px;
  top: 1%;
  position: absolute;
  height: 50px;
  z-index: 5;
  text-align: center;
  background-size: 100% 100%;
  /*top: 0px !important*/
}

.hole-bar ul{
  /*display: inline-block;*/
  white-space: nowrap;
  list-style: none;
  margin: 20px 0 0 0 !important;
  width: 100%;
  padding-left: 0;
  text-align: center;
  float: right;
}
#firstli {
  margin-left: 10px;
}
#lastli {
  border: 0;
  margin-right: 10px;
}
body{
  font-size: 18px;
}
.hole-bar ul li span {
  font-size:1.2em;
  font-family: 'Avenir-Heavy',sans-serif;
  font-weight: 400;
}
.hole-bar ul li text {
  font-size:1.6em;
  font-family: 'RakerDisHvy',sans-serif;
}
.on-video {
  z-index: 5;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  color: white;
}

.previous{
  position: absolute;
  left: 25px;
  top: 45%;
  height: 40px;
 }
.next{
  position: absolute;
  right: 25px;
  top: 45%;
  height: 40px;
}
.show-prev, .show-next{
  position: inherit !important;
}

.flag:before {
  content: '';
  background: image-url('flag.png') no-repeat;
  display: inline-block;
}

.eye {
  display:none;
  top: 2.8%;
  position: absolute;
  right: 9%;
  height: 7%;
  width: 6%;
}
.right-green {
  display:none;
}
.left-green {
  display:none;
}
.upload {
  display: none;
  top: 2.0%;
  position: absolute;
  right: 18%;
  height: 6.5%;
  width: 4.7%;
}

.logo {
  display:block;
  top: 15%;
  left: 3%;
  position: absolute;
  max-width: 15%;
}

.on-video img {
  min-width: 20%;
  min-height: 20%;
  max-width: 150px;
  max-height: 100%;
  /*vertical-align: top;*/
}

.video-js .vjs-control-bar {
  background: transparent;
  z-index: 102;
}
.vjs-control-bar:focus {
  outline: none;
}
div:focus {
  outline: none;
}
:focus {
  outline: none;
}
.video-js .vjs-play-progress, .video-js .vjs-volume-level {
  background-color: #15a575;
}
.vjs-menu-button-inline .vjs-menu{
  top:-0.5em;
}

.video-js .vjs-load-progress, .video-js .vjs-slider{
  background-color: white;
}
.video-js .vjs-control {
  width:3.5em;
}
.video-js .vjs-control:before {
  font-size: 2.2em;
  line-height: 1.4;
}
.video-js .vjs-menu-button-inline:before {
  width: 1.6em;
}

.vjs-playback-rate .vjs-playback-rate-value {
  font-family: "RakerDisHvy";
  font-size: 1.8em;
  line-height: 1.9;
}
.vjs-playback-rate .vjs-playback-rate-value {
  content: image-url('settings.png');
  margin-left: 35px;
  margin-top: 5px;
  width: 45%;
  height:70%;
}

.vjs-menu li {
  font-family: "RakerDisHvy";
  font-size: 1.2em;
}
.video-js {
  font-size: 0.55em;
}

.vjs-playlist {
  left:0px ;
  width:100%;
  overflow: hidden;
  padding-top: 0.5%;
  background: image-url('hole-selector-background.png');
  background-size: 100% 100%;
  z-index: 5;
  position: relative;
}
.playlist{
  height:130%;
  width: 90%;
  float: left;
  overflow: auto;
  -webkit-overflow-scrolling:touch;

}
.playlist ul{
  display: inline-block;
  white-space: nowrap;
  list-style: none;
  height: 100%;
  width:100%;
  margin: 0 0 0 0;
  padding: 1% 1% 0 1%;
}
.playlist ul li {
  display: inline-block;
  padding-top: 0%;
  color:#696969;
  margin-right: 1.25%;
  margin-left: 1.25%;
  text-align: center;
  vertical-align: center;
  cursor: pointer;
  font-family: 'RakerDisHvy',sans-serif;
  font-size: 1.6em;
}
.playlist ul li a:link, .playlist ul li a:hover, .playlist ul li a:visited, .playlist ul li a:active {
  text-decoration: none;
  background: none;
}
.playlist ul li a{
  color:#696969;
}
.playlist ul li.active a {
  color:white;
  background-color: #1d1e20;
}
.hole-home {
  float: left;
  cursor: pointer;
  height: 100%;
}
.hole-home:hover {
  background: #1d1e20;
}
.hole-home.active img{
  content: image-url('hole-home-active.png');
}

.map-slecter button.btn.selected{
  background-color: #15a575;
}

.previous.on-video, .next.on-video{
  display: flex;
  width: 70px;
  height: 70px;
  margin-left: -25px;
  margin-top: -28px;
  margin-right: -25px;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.previous.on-video img, .next.on-video img{
  width: 17px;
}

.slider-bg-color{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  cursor: pointer;
}

.slider-bg-color-right{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 100;
  cursor: pointer;
}

.vjs-playlist .hole-home{
  padding-top: 4px;
}

.p0{
  padding: 0px !important;
}

@media only screen and (min-width: 1600px) {
  body {font-size: 44px;}
  .main-container {width: 1600px; margin: auto;}
  .video-js .vjs-big-play-button {
    margin-top: -70px;
    margin-left: -70px;
    height: 140px;
    width: 140px;
  }
  #firstli {
    margin-left: 5px;
  }
  .vjs-volume-panel{
    top: -11px !important;
  }
  .vjs-play-control{
    top: -9px !important;
  }
  .hole-bar {
    height: 65px;
    right: 0px;
  }
  .hole-bar ul{
    overflow: auto;
    line-height: 25px;
  }
  .hole-bar ul li span {
    font-size:2.2em;
  }
  .hole-bar ul li text {
    font-size:2.8em;
  }
  .vjs-playlist{
    height: 80px;
  }
  .lower-gradient {
    bottom:80px;
  }
  .logo{
    left: 23px;
  }
  .playlist ul li {
    font-size: 37px;
    line-height: 35px;
    margin-right: 1.50%;
    margin-left: 1.7%;
  }
  .right-green {
    display:none;
  }
  .left-green {
    display:none;
  }
  .playlist{
    width: 94%;
  }
  .hole-home{
    width:6%;
    height: 100%;
    padding-left: 45px;
    margin-top: -4px;
  }
  .hole-home img {

    width: 50px;
    height: 50px;
  }

  .video-js .vjs-control-bar {
    height: 2.2em;
  }
  .flag:before {
    width: 22px;
    height: 22px;
    background-size: 20px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .video-js .vjs-control:before {
    font-size: 2.0em;
    line-height: 1.1;
  }
  .video-js .vjs-fullscreen-control:before, .vjs-icon-fullscreen-enter:before {
    font-size: 3.0em;
    line-height: 0.75;
  }
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before{
    font-size: 51px;
    line-height: 1;
    margin-left: 0px;
  }
  .video-js .vjs-fullscreen-control {
    margin-right: 10px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 17px;
    margin-top: 7px;
    width: 35px;
    height: 35px;
  }
  .vjs-volume-bar.vjs-slider-horizontal {
    margin-top: 18.5%;
  }
  .vjs-menu li {
    font-size: 1.2em;
  }
  .hole-info-div{
    width:1600px;
  }
  .map-slecter button.btn{
    font-family: Avenir;
    font-size: 18px;
  }
  .previous, .next{
    margin-top: -12px;
  }
  .previous{
    left: 46px;
  }
  .next{
    right: 49px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  body {font-size: 44px;}
  .main-container {width: 100vw;}
  .video-js .vjs-big-play-button {
    height: 140px;
    width: 140px;
    margin-top: -70px;
    margin-left: -70px;
  }
  #firstli {
    margin-left: 5px;
  }
  .hole-bar{
    right: 0%;
  }
  .hole-bar ul{
    margin: 2% 0 0 5%;
    font-size: 30%;
    line-height: 25px;
  }
  .hole-bar ul li span {
    font-size:2.2em;
    vertical-align: text-top;
  }

  .hole-bar ul li text {
    font-size: 3.1em;
    vertical-align: bottom;
  }
  .vjs-playlist {
    left:0px ;
    width:100%;
    height: 60px;
    background: image-url('hole-selector-background.png');
    background-size: 100% 100%;
  }
  .lower-gradient {
    bottom: 60px;
  }

  .playlist ul li {
    font-size: 28px;
    line-height: 26px;
    margin-right: 5.5%;
    margin-left: 1.0%;
  }
  .right-green {
    float: left;
    width: 10%;
    display:block;
    cursor: pointer;
    margin-top: 0px;
    text-align: center;
  }
  .right-green img {
   width: auto;
   height:30px;
  }
  .left-green {
    float: left;
    width: 10%;
    display:block;
    cursor: pointer;
    margin-top: 0px;
    text-align: center;
  }
  .left-green img {
   width: auto;
   height:30px;
  }
  .hole-home {
    width: 10%;
    margin-top: 5px !important;
    text-align: center;
  }
  .hole-home img {
    width: 35px;
    height: 35px;
    vertical-align: inherit !important;
  }
  .playlist{
    float: left;
    width: 70%;
    overflow: auto;
  }
  .flag:before {
    width: 15px;
    height: 22px;
    background-size: 15px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .video-js .vjs-fullscreen-control:before, .vjs-icon-fullscreen-enter:before {
    font-size: 3.0em;
    line-height: 0.85;
  }
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    font-size: 43px;
    line-height: 1.69;
    margin-left: 0px;
  }
  .video-js .vjs-fullscreen-control {
    margin-right: 10px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 22px;
    margin-top: 21px;
    width: 30px;
    height: 30px;
  }
  .vjs-volume-bar.vjs-slider-horizontal {
    margin-top: 22.5%;
  }
  .hole-info-div{
    width:100vw;
  }
  .sld-pad{
    overflow: hidden;
    padding: 30px 15px 30px 30px;
  }
  .sld2-np{
    padding:0 !important;
  }
  .map-slecter button.btn{
    font-family: Avenir;
    font-size: 18px;
  }
  .previous, .next{
    margin-top: -10px;
  }
  .previous{
    left: 58px;
  }
  .next{
    right: 58px;
  }
  .logo {
    left: 23px !important;
  }
  .previous.on-video, .next.on-video{
    margin-top: -24px;
  }
  .vjs-playlist .hole-home {
      padding-top: 0px;
      margin-top: 0px !important;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
  body {font-size: 44px;}
  .main-container {width: 100vw;}
  .hole-bar ul li:last-child{
    border-right: none !important;
  }
  .video-js .vjs-big-play-button {
    height: 130px;
    width: 130px;
    margin-top: -65px;
    margin-left: -65px;
  }
  .hole-bar{
    height:47px;
    right: 0px;
  }
  .hole-bar ul{
    font-size: 30%;
    margin-top: 17.5px;
    line-height: 24px;
    margin: 18px 0 0 0 !important;
  }
  .hole-bar ul li span {
    font-size:2.2em;
    vertical-align: text-top;
  }
  .hole-bar ul li text {
    font-size: 3.1em !important;
    vertical-align: bottom;
  }
  .vjs-playlist {
    left:0px ;
    width:100%;
    height: 60px;
    background: image-url('hole-selector-background.png');
    background-size: 100% 100%;
  }
  .lower-gradient {
    bottom: 60px;
  }
  .playlist ul {
    line-height: 47px;
  }
  .playlist ul li {
    font-size: 28px;
    line-height: 26px;
    margin-right: 6.0%;
    margin-left: 3.0%;
  }
  .right-green {
    float: left;
    width: 10%;
    display:block;
    cursor: pointer;
    margin-top: 0px;
    text-align: center;
  }
  .right-green img {
   width: auto;
   height:30px;
  }
  .hole-home img {
    vertical-align: inherit !important;
  }
  .left-green {
    float: left;
    width: 10%;
    display:block;
    cursor: pointer;
    margin-top: 0px;
    text-align: center;
  }
  .left-green img {
   width: auto;
   height:30px;
  }
  .hole-home {
    width: 10%;
    margin-top: -1px;
    text-align: center;
  }
  .hole-home img {
    width: 35px;
    height: 35px;
  }
  .playlist{
    float: left;
    width: 70%;
    overflow: auto;
  }
  .flag:before {
    width: 15px;
    height: 22px;
    background-size: 15px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .video-js .vjs-fullscreen-control:before, .vjs-icon-fullscreen-enter:before {
    font-size: 3.0em;
    line-height: 0.85;
  }
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    font-size: 43px;
    line-height: 1.7;
    margin-left: 0px;
  }
  .video-js .vjs-fullscreen-control {
    margin-right: 10px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 23px;
    margin-top: 21px;
    width: 30px;
    height: 30px;
  }
  .vjs-volume-bar.vjs-slider-horizontal {
    margin-top: 22.5%;
  }
  .hole-info-div{
    width:100vw;
  }
  .map-slecter button.btn{
    font-family: Avenir;
    font-size: 18px;
  }
  .previous, .next{
    margin-top: -16px;
  }
  .previous{
    left: 56px;
  }
  .next{
    right: 56px;
  }
  .logo{
    left: 23px !important;
  }
  .vjs-playlist .hole-home {
      padding-top: 0px;
      margin-top: 0px !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  body {font-size: 35px;}
  .main-container {width: 100vw;}
  .video-js .vjs-big-play-button {
    height: 110px;
    width: 110px;
    margin-top: -55px;
    margin-left: -55px;
  }
  .show-prev{
    width: 70px !important;
  }
  .show-next{
    width: 45px !important;
  }
  .hole-bar{
    height:47px;
    right: 3%;
    font-size: 20px !important;
  }
  .hole-bar ul{
    display: table;
    width: 96%;
    /*line-height: 25px !important;*/
  }
  .hole-bar ul li text, .hole-bar ul li span{
    position: relative;
    top: 1px;
  }
  .hole-bar ul li span {
    font-size:2.2em;
  }
  .hole-bar ul li text {
    font-size:2.8em;
  }
  .vjs-playlist {
    left:0px ;
    width:100%;
    height: 60px;
    background: image-url('hole-selector-background.png');
    background-size: 100% 100%;
  }
  .playlist ul {
    line-height: 47px;
  }

  .playlist ul li {
    font-size: 28px;
    line-height: 26px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 7.0%;
    margin-left: 5.0%;
  }
  .right-green {
    float: left;
    width: 10%;
    display:block;
    cursor: pointer;
    margin-top: 2px;
    text-align: center;
    margin-top: 5px !important;
  }
  .right-green img {
   width: auto;
   height:30px;
  }
  .left-green {
    float: left;
    width: 10%;
    display:block;
    cursor: pointer;
    margin-top: 2px;
    text-align: center;
    margin-top: 5px !important;
  }
  .left-green img {
   width: auto;
   height:30px;
  }
  .hole-home {
    width: 10%;
    margin-top: -1px;
    text-align: center;
  }
  .hole-home img {
    width: 35px;
    height: 35px;
  }

  .previous.on-video img, .next.on-video img {
    width: 13px;
  }

  .playlist{
    float: left;
    width: 70%;
    overflow: auto;
  }
  .flag:before {
    width: 14px;
    height: 21px;
    background-size: 14px;
    margin-left: 0px;
    margin-top: -2px;
  }
  .video-js .vjs-fullscreen-control:before, .vjs-icon-fullscreen-enter:before {
    font-size: 3.0em;
    line-height: 0.85;
  }
  .video-js .vjs-fullscreen-control {
    margin-right: 10px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 22px;
    margin-top: 15px;
    width: 27px;
    height: 27px;
  }
  .vjs-volume-bar.vjs-slider-horizontal {
    margin-top: 22.5%;
  }
  .hole-info-div{
    width:100vw;
  }
  .playlist ul li{
    padding: 0px !important;
  }
  .vjs-playlist .hole-home {
      padding-top: 0px;
      margin-top: 0px !important;
  }
}
@media only screen and (min-width: 760px) and (max-width: 959px) {
  .previous, .next{
    width: 15px;
    height: 28px;
    margin-top: -17px;
  }
  .lower-gradient {
    bottom: 60px;
  }
  .previous{
    left: 24px;
  }
  .next{
    right: 33px;
  }
  .hole-bar{
    right: 10px !important;
  }
  .hole-bar ul{
    line-height: 25px !important;
  }
  .logo{
    display: block;
    max-width: 15%;
    left: 23px;
  }
  .hole-bar ul{
    margin: 14px 0 0 0 !important;
  }
  .previous.on-video, .next.on-video{
    margin-top: -38px;
  }
  .on-video img{
    max-width: 130px
  }
  .hole-bar ul li text {
    font-size: 2.5em;
    vertical-align: middle;
  }
  .hole-bar ul li span {
    font-size: 1.8em;
    vertical-align: middle;
  }
  .hole-bar ul li:last-child{
    border-right: none !important;
  }

}

@media only screen and (max-width: 760px) {
  .upper-gradient{
    height: 35px !important;
  }
  .lower-gradient{
    display: none;
  }
  .upper-gradient, .lower-gradient{
  }
  .logo {
    max-width: 15% !important;
    top: 2% !important;
    left: 23px !important;
  }
  .hole-bar ul{
    display: table;
    width: 93% !important;
    margin: 23px 0 0 0 !important;
    font-size: 30% !important;
    padding-left: 0px !important;
  }
  .on-video img{
    max-width: 130px
  }
  .hole-bar ul li text {
    font-size: 4.8em;
  }
  .hole-bar ul li span {
    font-size: 3.8em;
  }
  .hole-bar ul li:last-child{
    border-right: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .slider-bg-color{
    width: 200px;
  }

  .slider-bg-color-right{
    width: 200px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 760px) {
  .description {
    padding-top: 30px;
  }
  .hole-bar{
    right: 10px !important;
  }
  .hole-bar ul li {
    padding: 1% 15px 2% 15px !important;
  }
  .hole-bar ul li text, .hole-bar ul li span{
    position: relative;
    top: 1px;
  }
  .hole-bar ul {
    font-size: 30% !important;
    margin: 15px 0 0 0 !important;
    line-height: 17px !important;
  }
  .previous, .next{
    width: 18px;
    height: 33px;
    margin-top: -25px;
  }
  .previous{
    left: 16px;
  }
  .next{
    right: 25px;
  }
  .previous.on-video, .next.on-video{
    margin-top: -40px;
  }
  .on-video img{
    max-width: 130px
  }
  .hole-bar ul li text {
    font-size: 4.8em;
    vertical-align: bottom;
  }
  .hole-bar ul li span {
    font-size: 3.8em;
    vertical-align: text-top;
  }
  .hole-bar ul li:last-child{
    border-right: none !important;
  }
}

@media only screen and (min-width: 600px) {
  .left-green svg, .right-green svg{
    width: 17px;
  }
  .slider-bg-color:hover {  
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0,0,0,0)) !important;
  }
  .slider-bg-color-right:hover{
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 0, 0, 0.15)) !important;
  }
}


@media only screen and (min-width: 480px) and (max-width: 599px) {
  body {font-size: 25px;}
  .main-container {width: 100vw;}
  .video-js .vjs-big-play-button {
    height: 90px;
    width: 90px;
    margin-top: -45px;
    margin-left: -45px;
  }
  .logo {
    left: 15px !important;
  }
  .hole-bar ul {
    font-size: 30% !important;
    line-height: 15px !important;
  }
  .previous, .next{
    height: 26px;
    width: 15px;
    margin-top: -22px;
  }
  .previous{
    left: 20px;
  }
  .next{
    right: 28px;
  }
  .hole-bar{
    height:45px;
    right: 5px;
    font-size: 18px !important;
  }
  .hole-bar ul{
    display: table;
    width: 96%;
    margin: 18px 0 0 0 !important;
    font-size: 30%;
    line-height: 17px;
  }
  .hole-bar ul li span {
    font-size:2.9em;
    vertical-align: middle;
  }
  .hole-bar ul li text {
    font-size:3.9em;
    vertical-align: middle;
  }
  .hole-bar ul li text, .hole-bar ul li span{
    position: relative;
    top: 1px;
  }
  .vjs-playlist {
    left:0px ;
    width:100%;
    height: 50px;
    background: image-url('hole-selector-background.png');
    background-size: 100% 100%;
  }
  .playlist ul {
    line-height: 47px;
  }
  .playlist ul li {
    font-size: 28px;
    line-height: 15px;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 12.0%;
    margin-left: 8.0%;
  }
  .right-green {
    float: left;
    width: 15%;
    display:block;
    cursor: pointer;
    margin-top: 4px;
    text-align: center;
  }
  .right-green img {
   width: auto;
   height:25px;
  }
  .left-green {
    float: left;
    width: 15%;
    display:block;
    cursor: pointer;
    margin-top: 4px;
    text-align: center;
  }
  .left-green img {
   width: auto;
   height:25px;
  }
  .hole-home {
    width: 15%;
    margin-top: 2px;
    text-align: center;
  }
  .hole-home img {
    width: 35px;
    height: 35px;
  }

  .playlist{
    float: left;
    width: 55%;
    height: 140%;
    overflow: auto;
  }
  .flag:before {
    width: 15px;
    height: 22px;
    display: inline-block;
    background-size: 15px;
    margin-left: 0px;
    margin-top: 6px;
  }
  .video-js .vjs-fullscreen-control:before, .vjs-icon-fullscreen-enter:before {
    font-size: 3.0em;
    line-height: 0.85;
  }
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    font-size: 27px;
    line-height: 1.6;
    margin-left: 0px;
  }
    .video-js .vjs-fullscreen-control {
    margin-right: 10px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 10px;
    margin-top: 12px;
    width: 18px;
    height: 18px;
  }
  .vjs-volume-bar.vjs-slider-horizontal {
    margin-top: 22.5%;
  }
  .hole-info-div{
    width:100vw;
  }
  .hider {
    display:block; position: relative; width:100%; background:white; z-index:7;
  }
  .left-green svg, .right-green svg{
    width: 14px;
  }
  .previous.on-video img, .next.on-video img {
    width: 13px;
  }
  .previous.on-video, .next.on-video{
    margin-top: -43px;
  }
  .logo.on-video img {
      max-width: 100px;
  }
  .vjs-playlist .hole-home {
      padding-top: 5px;
      margin: 0;
  }
}

@media only screen and (max-width: 479px) {
  body {font-size: 20px;}
  .main-container {width: 100vw;}
  .video-js .vjs-big-play-button {
    height: 84px;
    width: 84px;
    margin-top: -42px;
    margin-left: -42px;
  }
  .vjs-playback-rate{
      left: -17px;
  }
  .vjs-fullscreen-control{
    left: -17px;
  }
  .logo {
    max-width: 15% !important;

    left: 15px !important;
  }
  .hole-bar{
    height:40px;
    right: 5px;
  }
  .hole-bar ul{
    display: table;
    width: 93%;
    margin: 21px 0 0 0 !important;
  }
  #firstli {
    text-align: center;
  }

  .hole-bar ul li span {
    font-size:2.9em;
    vertical-align: middle;
  }

  .hole-bar ul li text {
    font-size:3.8em;
    vertical-align: middle;
  }
  .vjs-playlist {
    left:0px ;
    width:100%;
    height: 40px;
    background: image-url('hole-selector-background.png');
    background-size: 100% 100%;
  }
  .playlist ul li {
    font-size: 22px;
    line-height: 26px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 18.0%;
    margin-left: 18.0%;
  }
  .right-green {
    float: left;
    width: 15%;
    display:block;
    cursor: pointer;
    text-align: center;
  }
  .right-green img {
   width: auto;
   height:20px;
  }
  .left-green {
    float: left;
    width: 15%;
    display:block;
    cursor: pointer;
    text-align: center;
  }
  .left-green img {
   width: auto;
   height:20px;
  }
  .hole-home {
    width: 15%;
    margin-top: -2px;
    text-align: center;
    height: 105%;
    padding-top: 6px !important;
  }
  .hole-home img {
    width: 25px;
    height: 25px;
  }

  .playlist{
    float: left;
    width: 55%;
    height: 145%;
    overflow: auto;
    overflow-y: hidden;
  }
  .flag:before {
    width: 13px;
    height: 19px;
    background-size: 13px;
    margin-left: -10px;
  }
  .video-js .vjs-fullscreen-control:before, .vjs-icon-fullscreen-enter:before {
    font-size: 3.0em;
    line-height: 0.85;
  }
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    font-size: 20px;
    line-height: 1.5;
    margin-left: -10px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 15px;
    margin-top: 9px;
    width: 13px;
    height: 13px;
  }
  .vjs-volume-bar.vjs-slider-horizontal {
    margin-top: 22.5%;
  }
  .hole-info-div{
    width:100vw;
  }
  .hider {
    display:block; position: relative; width:100%; background:white; z-index:7;
  }
  .left-green svg, .right-green svg{
    width: 12px;
  }
  .previous.on-video img, .next.on-video img {
    width: 13px;
  }
  .on-video img {
    max-width: 70px;
  }
  .playlist ul li a {
    padding: 7px 28px 1px !important;
  }
  .slider-bg-color{
    width: 100px;
  }

  .slider-bg-color-right{
    width: 100px;
  }
}
@media only screen and (min-width: 350px) and (max-width: 479px) {
  body {font-size: 18px;}
  .hole-bar ul{
    line-height: 13px !important;
    margin: 14px 0 0 0 !important;
  }
  .previous, .next{
    height: 26px;
    width: 14px;
    margin-top: -19px;
  }
  .previous{
    left: 19px;
  }
  .next{
    right: 25px;
  }
  .vjs-volume-panel{
    margin-right: 0px !important;
  }
  .vjs-playback-rate{
    margin-right: -19px !important;
  }
  .vjs-fullscreen-control{
    left: 5px !important;
  }
  .video-js .vjs-volume-panel.vjs-volume-panel-vertical{
    width: 3.5em;
  }
  .video-js .vjs-volume-panel.vjs-volume-panel-vertical > .vjs-mute-control{
    padding-left: 0px;
    padding-right: 0px;
    width: auto;
  }
  .video-js .vjs-control {
    padding-left: .5em;
    padding-right: .5em;
  }
  .video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical{
    left: -0.5em;
  }
  .previous.on-video, .next.on-video{
    margin-top: -41px;
  }
  .hole-bar{
    font-size: 15px !important;
  }
}

@media only screen and (min-width: 250px) and (max-width: 349px) {
  .previous, .next{
    height: 26px;
    width: 14px;
    margin-top: -22px;
  }
  .previous{
    left: 11px;
  }
  .next{
    right: 17px;
  }
  .vjs-volume-panel{
    margin-right: -5% !important;
  }
  .vjs-playback-rate{
    margin-right: -19px !important;
  }
  .vjs-fullscreen-control{
    left: 6px !important;
  }
  .slick-prev{
    top: 47% !important;
  }
  .slick-next{
    top: 52% !important;
  }
  .previous.on-video, .next.on-video{
    margin-top: -44px;
  }
  .logo{
    left: 3% !important;
  }
  .hole-bar ul{
    line-height: 13px !important;
    margin: 12px 0 0 0 !important;
  }
  .hole-bar{
    font-size: 10px !important;
    right: 3px !important;
  }
  .on-video img {
    max-width: 55px;
  }
}

@media only screen and (max-width: 300px) {
  body {font-size: 18px !important;}
 .vjs-playback-rate{
    left: -2% !important;
  }
  .vjs-fullscreen-control{
    left: 4% !important;
  }
  .vjs-control-bar .flag{
    left: -7px !important;
  }
  .video-js .vjs-big-play-button {
    margin-top: -42px !important;
    height: 64px;
    width: 64px;
    top: 56% !important;
    left: 54% !important;
  }
  .previous.on-video, .next.on-video{
    margin-top: -46px;
  }
}
@media only screen and (max-width: 249px) {
  .previous, .next{
    height: 24px;
    width: 13px;
    margin-top: -23px;
  }
  .previous{
    left: 7px;
  }
  .next{
    right: 13px;
  }
  .logo{
    
    max-width: 14% !important;
  }
  .hole-bar ul{
    line-height: 5px !important;
  }
  .hole-bar{
    font-size: 10px !important;
  }
  .on-video img {
    max-width: 55px;
  }
}
.hole-home{
  padding-top: 0px;
}
/*.left-green, .right-green{
  margin-top: 0px !important;
}*/
.playlist ul li{
  margin: 0px !important;
}
.vjs-playlist{
  padding-top: 0px !important;
}
.playlist ul{
  padding: 0px !important;
  vertical-align: top;
}
.playlist ul li a{
  padding: 17px 28px 13px;
  display: inline-block;
}

@media screen and (max-width: 480px){
  .hole-home {
    padding-top: 4px;
  }
  /*.left-green, .right-green {
    margin-top: 2px !important;
  }*/
  .show-prev{
    width: 70px !important;
  }
  .show-next{
    width: 45px !important;
  }
  .playlist ul li a {
    padding: 19px 28px 12px ;
  }
  .playlist ul li {
    padding: 0px !important;
  }
}
.btn-transparent{
  background-color: transparent;
  border-color: transparent;
  font-color: #fff;
  font-weight: 600;
}
.btn-transparent:hover, .btn-transparent:focus{
  background-color: transparent;
  border-color: transparent;
  color: #fff;
}

@media only screen and (min-width: 350px) and (max-width: 375px) {
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    font-size: 19px;
    line-height: 1.55;
    margin-left: 0px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 21px;
    margin-top: 8px;
    width: 13px;
    height: 13px;
  }
}

@media only screen and (max-width: 350px) {
  .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    line-height: 1.75;
    font-size: 19px;
    margin-left: 0px;
  }
  .vjs-playback-rate .vjs-playback-rate-value {
    margin-left: 30px;
    margin-top: 10px;
    width: 13px;
    height: 13px;
  }
}
