
<div class="container">
  <div class="panel panel-default">
    <h2>Flyover Video</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= video_tag @video.video.url, controls: true, style: "max-width: 100%;" %>
      </div>
    </div>
  </div>

  
</div>


