
<div id="" class="col-md-2 hidden-sm-down">        
  <div class="12">
    <nav class="navbar navbar-default navbar-fixed-side" style=" border: none;">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="./">FORE</a> -->
      </div>
      <div class="collapse navbar-collapse" style="border-top:none;">
        <ul class="nav navbar-nav">
          
          <li >
            <div class="col-md-2"> 
            </div>

            <div class="col-md-8 overview" >
              SELECT COURSE
            </div>

            <div class="col-md-2">
              <input type="checkbox" value="" class="checkbox" id="select-course-checkbox">
            </div>
          </li>
          
          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              SELECT HOLES
            </div>

            <div class="col-md-2">
              <input type="checkbox" value="" class="checkbox" id="select-holes-checkbox">
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              SELECT SLOT
            </div>

            <div class="col-md-2">
              <input type="checkbox" value="" class="checkbox" id="select-slot-checkbox">
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              UPLOAD IMAGE
            </div>

            <div class="col-md-2">
              <input type="checkbox" value="" class="checkbox" id="upload-image-checkbox">
            </div>
          </li>
          
        </ul>

        <hr width="50%">
        
        <button type="button" class="btn btn-default btn-lg center-block update-btn" id="ad-manage-btn">UPDATE</button>
       
      </div>
    </nav>
      
  </div>
</div>
