
<div id="" class="col-md-2 hidden-sm-down">        
  <div class="12">
    <nav class="navbar navbar-default navbar-fixed-side" style=" border: none;">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="./">FORE</a> -->
      </div>
      <div class="collapse navbar-collapse" style="border-top:none;">
        <ul class="nav navbar-nav">
          
          <li class="active">
            <div class="col-md-2"> 
            </div>

            <div class="col-md-8 overview" >
              COURSE LIST
            </div>

            <div class="col-md-2">
            </div>
          </li>
          
        </ul>
       
      </div>
    </nav>
      
  </div>
</div>
