
<div id="" class="col-md-2 hidden-sm-down">
  <div class="">
    <nav class="navbar navbar-default navbar-fixed-side" style=" border: none;">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">FORE</a>
      </div>
      <div class="collapse navbar-collapse" style="border-top:none;">
        <ul class="nav navbar-nav">

          <li >
            <div class="col-md-2">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </div>

            <div class="col-md-8 overview" >
              OVERVIEW
            </div>

            <div class="col-md-2">
              <input type="checkbox" value="" class="checkbox" id="overview-checkbox">
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Name
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="name-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Location
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="location-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Course Type
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="course-type-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Bio
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="bio-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Contact Info
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="contact_info-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Amenities
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="amenities-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Logo
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="logo-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Cover Photo
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="cover-check"></span>
            </div>
          </li>

           <hr width="50%">

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Par
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="par-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Slope
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="slope-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Rating
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="rating-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>

            <div class="col-md-8" >
              Length
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="length-check"></span>
            </div>
          </li>

          <li >
            <div class="col-md-2"></div>
            <div class="col-md-8" >
              Scorecard
            </div>

            <div class="col-md-2">
              <span class="glyphicon glyphicon-ok" id="score_card-check"></span>
            </div>
          </li>

        </ul>

        <hr width="50%">

        <!-- <button type="button" class="btn btn-default btn-lg center-block update-btn" id="create-course-btn">UPDATE</button> -->

      </div>
    </nav>

  </div>
</div>
